.flex-user{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}

.tabs {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#submit-post {
    display: flex;
    flex-flow: column;
    align-content: center;
    justify-content: center;
}

.each-post {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    border: 1px black solid;
    margin-top: 20px;
    margin-bottom: 20px;
}
