flex-user{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}


.content{
  display: flex;
  flex-flow: column wrap;
}

#saludo {
  margin-right: 40px;
}

nav {
  background-color: rgba(250,250,250,0.8);
  border-color: rgba(250,250,250,1);
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  height: 50px;
}

.tabs {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-bottom: 20%;
    padding-top: 0%;
}
.logInWindow, .registerWindow {
    width: 50%;
    align-content: center;
    padding: 05%;
    border-style: solid;
    border-radius: 05px;
    border-color: silver;

}


body {
  margin: 0;
  background-image: url("/src/imagenes/hojasbackground.jpeg");

}

#log-in, #register{
    padding-bottom: 20%;
    /* padding-top: 08%; */
    background-color: rgba(250,250,250,0.6);
    border-color: rgba(250,250,250,0.7);
    width: 30%;
    margin-left: 35%;
    margin-bottom: 40%;
    margin-top: 10%;
    border-radius: 15px 15px 15px 15px;
    opacity: initial;
    align-content: center;
}

#wall{
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  padding-top: 50px;
}


#submit-post {
    display: flex;
    flex-flow: column;
    align-content: center;
    justify-content: center;
}


.post-area{
  background-color: rgba(250,250,250,0.9);
  height: 100px;
}

header .div{
  margin: 20px;
}


.each-post {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    height: 200px;
    background-color: rgba(250,250,250,0.6);
    border-color: rgba(250,250,250,1);
}

#post-list {
  width: 500px;

}
